@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="color:black; background-color: grey; padding-bottom:20px">
    <h1 class="display-4" style="color:black; background-color: grey">Welcome to Jokester!</h1>
    <p style="color:black">Remember The Last of Us? Find your favorite pun jokes here!</p>
</div>
