@{
    ViewData["Title"] = "Privacy Policy";
}
<div style="background-color:grey; color: black; padding-left: 25px">
    <h1 style="padding: 5px">@ViewData["Title"]</h1>

<p style="padding: 5px">Use this page to detail your site's privacy policy.</p>
</div>

